::-webkit-full-screen{
  width:10px;
}
::-webkit-scrollbar-track{
background:#f1f1f1;
}
::-webkit-scrollbar-thumb{
  background:#888;
}
::-webkit-scrollbar-thumb:hover{
  background:#555;
  
}
.myheader {
  width:100%;
  height:75px;
  /* background-color:whitesmoke;  #1ca3ec */
  background-color:yellowgreen;
  box-shadow:0 0px 8px  rgba(0, 0, 0, 0.2);
  /* float:left; */
   margin-left:0px;
   display: flex;
   flex-direction:row;
   }
.myTitle{
     font-size:2em;margin-left:30px;margin-top:20px;
     margin-right: 250px;
     font-family: 'Times New Roman', Times, serif;
     color: rgb(108, 83, 126);
     }
/* .search{
  position:absolute;
  top: 355px;
  left: 575px;
} */
.imgS{
height: 30px;
width: 30px;
position: fixed;
right:663px;
top: 30px;

}
.search input{
  height: 30px;
  width: 460px;
  height:10px;
  margin-right: 460px;
  background-position: 12px 17px;
  background-repeat: no-repeat;
  padding:20px 20px 14px 14px;
  border-radius:25px;
  margin-top: 10px;
  text-align: center;
  /* background-image:url("../images/search.png"); */

  /* -webkit-transition:width 0.7s ease-in-out;
  -moz-transition:width 0.7s ease-in-out;
  -ms-transition:width 0.7s ease-in-out;
  -o-transition: width 0.7s ease-in-out;
  transition: width 0.7s ease-in-out; */
}
/* input[type=text]:focus{
  width:450px;
} */
.notify
{
  height:30px; 
  width:30px; 
  display: flex;
  flex-direction:row;
  
}
 /* display:flex;
  flex-direction:row;
  float:right;
  margin-top: -2.7em;
  margin-right: 3em; */

#pictures{
  height:40px; 
  width:40px; 
  margin-right:1em;
  margin-top: 10px;
}

ul{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  position: absolute;
}
li{
display:block;
margin-right:1px;
float: left;
}
li a{
  display:block;
  min-height:140px;
  height: 50px;
  line-height: 50px;
  text-align: center;
font-family: Arial, Helvetica, sans-serif;
color:#fff;
background:#f3f3f3;

}
.img1 .img2 .img3{
  height: 50px;
  width: 50px;
}
li:hover a {
  background: #19c589;
}
li:hover ul a {
  background: #f3f3f3;
  color:#f3f3f3;
  height: 40px;
  line-height: 40px;
}
li:hover ul a:hover {
  background: #19c589;
  color: #fff;
}
li ul{
  display: none;
}
li ul li {
  display: block;
  float: none;
}
li ul li a {
  width: auto;
  min-width: 100px;
  padding: 0 20px;
}
ul li a:hover + .hidden, .hidden:hover {
  display: block;
}
/* // code to be compared/ */
body {
  font-family: "Lato", sans-serif;
  transition: background-color .5s;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:#1ca3ec;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  margin-left: 8px;
  margin-top:85px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size:16px;
  font-weight:bolder;
  color: #f7f7f7;
  display: block;
  transition: 0.3s;
  /* background-color:indigo; */
  margin-top:0px;
  height:50px;
  box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.05), 0 2px 3px 0 rgba(0, 0, 0, 0.05);
text-align: center;
padding-top: 40px;
}

/* .sidenav a:hover {
  color:red;
} */

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
